<?php
require_once __DIR__.'/../usr/model/User.php';
$id=$_REQUEST["id"];
$user = new User();
$user->find(array("id"=>$id));
$page=$_REQUEST["selected"];
$path=$_REQUEST["path"];
?>
<form class="form" action="?command=edit&object=User&path=<?php echo $path;?>&selected=<?php echo $page;?>" method="POST">
<table class='odd_even_row_alternate_color toc' >
<thead><th>Field</th><th>Data</th></thead>
<tbody>
<tr><td class='label'>id</td><td><input type='number' style='display:none' name='id' value='<?php echo $user->getId();?>' ></input><?php echo $user->getId();?></td></tr>
<tr><td class='label'>firstname</td><td><input type='text' name='firstname' value='<?php echo $user->getFirstname();?>' ></input></td></tr>
<tr><td class='label'>lastname</td><td><input type='text' name='lastname' value='<?php echo $user->getLastname();?>' ></input></td></tr>
<tr><td class='label'>email</td><td><input type='text' name='email' value='<?php echo $user->getEmail();?>' ></input></td></tr>
<tr><td class='label'>salt</td><td><input type='text' name='salt' value='<?php echo $user->getSalt();?>' ></input></td></tr>
<tr><td class='label'>password</td><td><input type='password' name='password' value='<?php echo $user->getPassword();?>' ></input></td></tr>
<tr><td class='label'>created</td><td><input type='datetime' name='created' value='<?php echo $user->getCreated();?>' ></input></td></tr>
<tr><td class='label'>role</td><td><input type='number' name='role' value='<?php echo $user->getRole();?>' ></input></td></tr>
<tr><td class='label'>ip</td><td><input type='text' name='ip' value='<?php echo $user->getIp();?>' ></input></td></tr>
</tbody>
</table><input type="submit" value="Update" class="button32 height_32 save32" />
<input type="button" value="Delete" class="button32 height_32 delete64" onclick='showDeleteConfirm("?command=delete_object&object=User&path=<?php echo $path;?>&selected=<?php echo $page;?>&id=<?php echo $id;?>")' /></form>
